services:
  nginx:
    image: nginx:1.27-alpine
    container_name: servicelink-nginx
    depends_on:
      - api
      - web
    ports:
      - "8443:443"
    volumes:
      - ./nginx-ssl.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certs:/etc/nginx/certs:ro

