name: Auto Project Assignment

on:
  issues:
    types: [opened, labeled, reopened]
  pull_request:
    types: [opened, labeled, reopened, synchronize]

jobs:
  add-to-project:
    runs-on: ubuntu-latest
    steps:
      - name: Add item to Project Board
        uses: actions/add-to-project@v0.5.0
        with:
          project-url: https://github.com/orgs/${{ github.repository_owner }}/projects/1
          github-token: ${{ secrets.GITHUB_TOKEN }}
          labeled: m0,m1,m2,m3,m4,m5,m6,m7
